{
  "presets": [
    [
      "@babel/preset-env",
      {
        "shippedProposals": true,
        "modules": "auto",
        "targets": {
          "browsers": [
            "last 2 Chrome versions",
            "last 2 Firefox versions",
            "last 2 Edge versions",
            "last 2 Opera versions",
            "safari 11"
          ]
        }
      }
    ],
    [
      "@babel/preset-typescript",
      {
        "isTSX": false,
        "allExtensions": true
      }
    ]
  ],
  "plugins": [["effector/babel-plugin", {"importName": "@lib/data-engine", "addLoc": true, "addNames": true}]]
}
